body {
  font-family: "Gemunu Libre", sans-serif;
}

.backgroundcolor {
  background-color: #86ebf2;
}

.borderbottom {
  border-bottom: 1px solid #414141;
}

.button {
  color: black;
  border-radius: 1.3rem;
  text-decoration: none;
  padding: 1rem 1.3rem;
  border: 1px solid #000;
  background-color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
}

.button:hover {
  color: #000;
}

.aside-buttons > li {
  margin-bottom: 10px;
}
